body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}
.whole-page-two-columns{
    width: 100%;
    height: 100%;
    background: blue;
    grid-template-areas: "top-bar top-bar"
    "main sidebar";
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 64px auto;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-area: top-bar;
    height: 64px;
    text-align: center;
    background: lime;
    font-size: 16px;
    /*TODO bloccare scrolling*/
}
.header-logo{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.header-tabs{
    /*TODO stile dei bottoni per cambio tab*/
}
.right-side-column{
    width: 300px;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    background: #ff0000;
    /*bloccare scrolling*/
}
.main-content-column{
    grid-area: main;
    width: 100%;
    background: #ff00ff;
    /*scrolling interno?*/
}
.section-title{
    word-wrap: break-word;
    margin: 8px;
    font-size: 22px;
    font-weight: bold;
}
.events-list{
    background: #008000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*TODO inserire margine sinistro flessibile*/
}
.event-rectangle{
    display: grid;
    grid-template-areas: "image title"
    "image attributes";
    grid-template-columns: 180px 370px;
    grid-template-rows: 136px 44px;
    width: 550px;
    height: 180px;
    background: #ffffff;
    margin: 8px;
}
.event-rectangle-image-container{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color:#aaa;
    grid-area: image;
}
.event-rectangle-title{
    word-wrap: break-word;
    background-color:#aaa;
    grid-area: title;
    margin: 8px;
    font-size: 22px;
    font-weight: bold;
}
.event-rectangle-attributes-group{
    display: flex;
    width: auto;
    background-color:#fff;
    grid-area: attributes;
    margin: 8px;
}
.event-rectangle-attribute{
    text-align: center;
    font-size: 18px;
    flex-grow: 1;
    font-weight: normal
}

.events-filters-selection-box{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color:#aaa;
    width: auto;
    height: 400px;
}

.interests-selection-box{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color:#aaa;
    width: auto;
    height: 100%;
}
