body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: inherit;
    color: inherit;
}
::-webkit-scrollbar {
    background: rgb(244, 244, 244);
    width: 14px;
}

::-webkit-scrollbar-track {
    background: rgba(239, 239, 239, 0);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #979797;
    border: 2px solid transparent;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #767676;
    border: 2px solid transparent;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-clip: content-box;
}
tr {
    height: 40px;
}
.tr_titles {
    height: 50px;
}
th {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
}
td {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
}
table {
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.15);

    padding: 4px 12px 8px;
    overflow: hidden;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    background-color: #fbfbfb;
    border-radius: 18px;
}
input[type="radio"] {
    filter: hue-rotate(-14deg) brightness(1.05);
}
input[type="checkbox"] {
    filter: hue-rotate(-14deg) brightness(1.05);
}
select {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 36px;
}
.comment-text {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 16px;
    word-wrap: anywhere;
    font-size: 19px;
}
.post-container{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 0.0px solid #fff;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.15);

    margin-top: 16px;
    margin-bottom: 16px;

    overflow-y: auto;
    background: white;
}
.comment-container{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 0.5px solid #bbb;

    padding: 16px;

    overflow-y: auto;
    background: white;
}
input[type="date"] {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 36px;
}
input[type="text"] {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 36px;
}
textarea {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 52px;
}
input[type="email"] {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 36px;
}
input[type="tel"] {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 36px;
}
input[type="number"] {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 36px;
}
input[type="search"] {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 36px;
}
input[type="datetime-local"] {
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid #bbb;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 19px;
    box-sizing: border-box;
    min-height: 36px;
}
.filters-item {
    margin-top: 4px;
    margin-bottom: 4px;
    width: auto;
}
button {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 45px;
    white-space:nowrap;

    background-color: white;
    color: #0090E1;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 45px;
    white-space:nowrap;

    background-color: #0090E1;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
button:active {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 45px;

    background-color: #0067a0;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
button:disabled {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #aaa;
    height: 45px;

    background-color: #bbb;
    color: #444;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}


.circle-button {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: none;
    height: 32px;
    width: 32px;

    background-color: white;
    color: #0090E1;
    padding: 0;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
.circle-button:hover {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: none;
    height: 32px;
    width: 32px;

    background-color: #d4d4d4;
    color: #0090E1;
    padding: 0;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
.circle-button:active {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: none;
    height: 32px;
    width: 32px;

    background-color: #bfbfbf;
    color: #0090E1;
    padding: 0;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
.circle-button:disabled {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: none;
    height: 32px;
    width: 32px;

    background-color: #bbb;
    color: #444;
    padding: 0;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}

.calendar-day-inactive-box {
    background: rgb(232, 232, 232);
    border: 0.5px solid #c9c9c9;
    padding: 1px;
    color: rgba(64, 64, 64, 0.49);
}
.calendar-day-active-box {
    padding: 1px;
    border: 0.5px solid #c9c9c9;
    color: black;
    max-width: 30px;
}
.calendar-event-clickable-item {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    height: auto;
    width: 100%;


    background-color: #2294dc;
    color: #ffffff;
    padding: 4px;
    margin: 2px 1px;
    text-align: left;
    font-weight: normal;
    display: block;
    white-space: normal;
    font-size: 15px;
}
.calendar-event-clickable-item:hover {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    height: auto;
    width: 100%;

    background-color: #1580c2;
    color: #ffffff;
    padding: 4px;
    margin: 2px 1px;
    text-align: left;
    font-weight: normal;
    display: block;
    white-space: normal;
    font-size: 15px;
}
.calendar-event-clickable-item:active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    height: auto;
    width: 100%;

    background-color: #006faf;
    color: #ffffff;
    padding: 4px;
    margin: 2px 1px;
    text-align: left;
    font-weight: normal;
    display: block;
    white-space: normal;
    font-size: 15px;
}
.calendar-event-clickable-item:disabled {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    height: auto;
    width: 100%;

    background-color: #bbb;
    color: #444;
    padding: 4px;
    margin: 2px 0;
    text-align: left;
    font-weight: normal;
    display: block;
    white-space: normal;
    font-size: 15px;
}


input[type="submit"] {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 45px;
    white-space:nowrap;

    background-color: white;
    color: #0090E1;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
input[type="submit"]:hover {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 45px;
    white-space:nowrap;

    background-color: #0090E1;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
input[type="submit"]:active {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 45px;

    background-color: #0067a0;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
input[type="submit"]:disabled {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #aaa;
    height: 45px;

    background-color: #bbb;
    color: #444;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
.custom-file-upload {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 22.5px;
    white-space:nowrap;

    background-color: white;
    color: #0090E1;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
.custom-file-upload:hover {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 22.5px;
    white-space:nowrap;

    background-color: #0090E1;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
.custom-file-upload:active {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #0090E1;
    height: 22.5px;

    background-color: #0067a0;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
.custom-file-upload:disabled {
    -webkit-border-radius: 0px 0px 12px 0px;
    -moz-border-radius: 0px 0px 12px 0px;
    border-radius: 0px 0px 12px 0px;
    border: 2px solid #aaa;
    height: 45px;

    background-color: #bbb;
    color: #444;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
input[type="file"] {
    display: none;
}
.icon-button-42 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0px solid #0090E1;
    z-index: 1;

    background-color: transparent;
    color: #0090E1;
    padding: 0px 0px;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    font-size: 0px;

    height: 42px;
    width: 42px;
}
.icon-button-42:hover {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0px solid #0090E1;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.07);
    color: #0090E1;
    padding: 0px 0px;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    font-size: 0px;

    height: 42px;
    width: 42px;
}
.icon-button-42:active {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0px solid #0090E1;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.15);
    color: #0090E1;
    padding: 0px 0px;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    font-size: 0px;

    height: 42px;
    width: 42px;
}
.header-icon-button-container {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 4px 6px;
    width: 30px;
    height: 30px;
}
.header-icon-button-container:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.header-icon-preview {
    max-width: none;
    object-fit: cover;

    width: 30px;
    height: 30px;
}
.header-button {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 0px 12px 0px 0px;
    -moz-border-radius: 0px 12px 0px 0px;
    border-radius: 0px 12px 0px 0px;
    border: 2px solid transparent;
    height: 45px;
    white-space:nowrap;

    margin-top: 4px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    align-self: center;
}
.header-button:hover {
    -webkit-border-radius: 0px 12px 0px 0px;
    -moz-border-radius: 0px 12px 0px 0px;
    border-radius: 0px 12px 0px 0px;
    border: 2px solid #ffffff;
    height: 45px;

    margin-top: 4px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    align-self: center;
}
.header-button:active {
    -webkit-border-radius: 0px 12px 0px 0px;
    -moz-border-radius: 0px 12px 0px 0px;
    border-radius: 0px 12px 0px 0px;
    border: 2px solid #ffffff;
    height: 45px;

    margin-top: 4px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    align-self: center;
}
.whole-page-one-columns{
    width: 100%;
    height: 100%;
    background: white;
    grid-template-areas: "top-bar"
    "main";
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 64px auto;
}
.whole-page-two-columns{
    width: 100%;
    height: 100%;
    background: white;
    grid-template-areas: "top-bar top-bar"
    "main right-bar";
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 64px auto;
}
.whole-page-three-columns{
    width: 100%;
    height: 100%;
    background: white;
    grid-template-areas: "top-bar top-bar top-bar"
    "left-bar main right-bar";
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 64px auto;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-area: top-bar;
    height: 64px;
    text-align: center;
    background: #0090E1;
    font-size: 16px;
}
.header-logo-container{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    margin-bottom: 2px;
    margin-right: 16px;
    margin-left: 16px;
    width: 175px;
    height: 40px;
}
.header-logo-container:hover{
    background-color: rgba(255, 255, 255, 0.10);
}
.header-tabs{
    /*TODO stile dei bottoni per cambio tab*/
}
.left-side-column{
    border-right: 1.5px solid #bbbbbb;

    width: 282.5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    grid-area: left-bar;
    background: white;
    /*bloccare scrolling*/
}
.right-side-column{
    border-left: 1.5px solid #bbbbbb;

    width: 282.5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    grid-area: right-bar;
    background: white;
    /*bloccare scrolling*/
}
.big-form-container{
    max-width: 800px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto; margin-right: auto;
    /*bloccare scrolling*/
}
.big-form-group {
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.15);

    padding: 12px; display: flex; flex-direction: column;
    overflow: hidden;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    background-color: #fbfbfb;
    border-radius: 18px;
}
.big-form-row {
    max-width: 800px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.big-form-column {
    max-width: 800px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.big-form-label {
    margin-left: 3px; margin-right: auto; font-size: 19px
}
.big-form-compact-field {
    width: 300px
}
.big-form-big-field {
    margin-top:4px;
    width: 100%;
}
.big-form-submit-button {
    margin-top: 50px; margin-left: auto
}
.main-content-column{
    grid-area: main;
    background: #F4F4F4;
    padding: 8px;
    /*scrolling interno?*/
}
.title{
    word-wrap: break-word;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 28px;
    font-weight: bold;
}
.section-title{
    word-wrap: break-word;
    margin-top: 18px;
    margin-bottom: 4px;
    margin-left: 2px;
    font-size: 20px;
    font-weight: bold;
}
.text-area{
    word-wrap: break-word;
    margin: 8px;
    font-size: 22px;
    font-weight: normal;
}
.uploaded-image-preview {
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 0.5px solid #bbb;
    object-fit: cover;

    width: calc(25% - 10px);
    height: 180px;
    margin: 4px;
}
.image-preview {
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    object-fit: cover;

    width: 100%;
    height: 100%;
}
.events-list{
    display: flex;
    flex-wrap: wrap;
    /*TODO inserire margine sinistro flessibile*/
}
.event-rectangle{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    min-width: 550px;
    max-width: 800px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.15);

    flex-grow: 1;
    display: grid;
    grid-template-areas: "image-rectangle title-rectangle"
    "image-rectangle attributes-rectangle";
    grid-template-columns: 180px auto;
    grid-template-rows: 136px 44px;
    width: 550px;
    height: 180px;
    background: #ffffff;
    margin: 8px;
}
.event-rectangle:hover {
    background: rgb(248, 248, 248);
}
.event-rectangle:active {
    background: rgb(236, 236, 236);
}
.event-images-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-images-item{
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 4px;
    width: 284px;
    height: 284px;

    flex: none;
}
.event-rectangle-image-container{
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    grid-area: image-rectangle;
}
.event-rectangle-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;

    word-wrap: break-word;
    grid-area: title-rectangle;
    margin: 8px;
    font-size: 20px;
    font-weight: 550;
}
.event-rectangle-attributes-group{
    display: flex;
    width: auto;
    grid-area: attributes-rectangle;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}
.event-rectangle-attribute{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;

    margin-left: 4px;
    margin-right: 4px;
    height: 22px;
    text-align: center;
    font-size: 18px;
    flex-grow: 1;
    font-weight: normal
}
.event-square{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    width: 180px;
    height: 220px;
    background: #ffffff;
    margin: 8px;
}
.event-square:hover {
    background: rgb(248, 248, 248);
}
.event-square:active {
    background: rgb(236, 236, 236);
}
.event-square-image-container{
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    height: 100%;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}
.event-square-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

    word-wrap: break-word;
    min-height: 54px;
    margin-bottom: 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 15px;
    font-weight: 550;
}
.event-square-attributes-group{
    display: flex;
    width: auto;
    margin-bottom: 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-left: 8px;
}
.event-square-attribute{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 16px;
    flex-grow: 1;
    font-weight: normal
}

.events-parameters-selection-box{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color:#aaa;
    width: auto;
    height: 400px;
}

.modulo-ricerca{
    margin-left: 8px;
}


.checkbox-selection-item {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}
.checkbox-selection-item-checkbox {
    margin-left: 2px;
    zoom: 1.3;
}
.checkbox-selection-item-label {
    margin-left: 4px;
    font-size: 19px;
}

.radio-selection-item {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}
.radio-selection-item-radio {
    margin-left: 2px;
    zoom: 1.3;
}
.radio-selection-item-label {
    margin-top: 1px;
    margin-left: 4px;
    font-size: 19px;
}

.category-oval{
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: white;
    padding: 8px;
    margin-right: 8px;
    margin-top: 8px;
}

.info-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: auto;
    height: fit-content;
}
.clickable-info-item-container {
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.clickable-info-item-container:hover {
    background: rgba(0, 0, 0, 0.08);
}
.info-item-title{
    width: 100%;
    padding-top: 7px;
    padding-bottom: 6px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
}
.info-item-label {
    width: 100%;
    padding-bottom: 4px;
    font-size: 18px;

    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    -webkit-line-clamp: 1; /* number of lines to show */
    text-overflow: ellipsis;
}

.notification-item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-bottom: 1.5px solid #bbbbbb;
    width: auto;
}
.notification-item:hover {
    background: rgb(246, 246, 246);
}
.notification-item:active {
    background: rgb(236, 236, 236);
}

.contacts-list-item {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 6px;

    width: auto;
}
.contacts-list-item:hover {
    background: rgb(246, 246, 246);
}
.contacts-list-item:active {
    background: rgb(236, 236, 236);
}
.notification-item-date {
    font-size: 14px;
    margin-top: 12px;
}
.notification-item-title {
    font-size: 16px;
}
.notification-item-title-unread {
    font-size: 16px;
    font-weight: bold;
}
.notifications-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#notifications-popup{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    max-height: 800px;
    box-shadow: 4px 6px 32px rgba(0, 0, 0, 0.45);
    overflow-y: auto;

    display: none;
    background: white;
    z-index: 12;
    width:400px;
    position: absolute;
    right: 90px;
    top: 80px;
}
#notifications-popup.show {
     -webkit-animation: fade_in_top_right 200ms ease both;
     animation: fade_in_top_right 200ms ease both;
 }

#notifications-popup.hide {
    -webkit-animation: fade_out_top_right 150ms ease both;
    animation: fade_out_top_right 150ms ease both;
}


@-webkit-keyframes fade_in_top_right {
    0% { -webkit-transform-origin: top right; -webkit-transform: scale(0.98); /*rotate(12deg);*/ opacity: 0; visibility: hidden;  }
    100% { -webkit-transform-origin: top right; -webkit-transform: scale(1); /* rotate(0);*/ opacity: 1; visibility: visible; }
}

@keyframes fade_in_top_right {
    0% { transform-origin: top right; transform: scale(0.98); opacity: 0; visibility: hidden;  }
    100% { transform-origin: top right; transform: scale(1); opacity: 1; visibility: visible; }
}

@-webkit-keyframes fade_out_top_right {
    0% { -webkit-transform-origin: top right; -webkit-transform: scale(1); opacity: 1; visibility: visible; }
    100% { -webkit-transform-origin: top right; -webkit-transform: scale(0.98); opacity: 0; visibility: hidden; }
}

@keyframes fade_out_top_right {
    0% { transform-origin: top right; transform: scale(1); opacity: 1; visibility: visible; }
    100% { transform-origin: top right; transform: scale(0.98); opacity: 0; visibility: hidden;  }
}
